{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

   <div class="row">
    <div class="col-md-6">
	 {% for post in posts.find() %}
		
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td class="value">{{post}}</td>
				</tr>
			</tbody>
		</table>
     {% endfor %}
    </div>
   </div>	
{% endblock %}