{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}CSC 400{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Applicant</h1>
</div>
{{ wtf.quick_form(form) }}


<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script>
$(document).ready(function() {
	$('form').submit(function(event) {
		
		var grantId = parseInt($("#grantId").val());
		var name = $("#name").val();
		var school = $("#school").val();
		var major = $("#major").val();
		var preAwards = $("#preAwards").val();
		var citizenship = $("#citizenship").val();
		var time = $("#time").val();
		var research = $("#research").val();
		var advisor = $("#advisor").val();
		var budget = parseInt($("#budget").val());
		
		console.log("test1");
			var formdata = JSON.stringify({"grantId" :grantId ,"name" : name,"school" : school,"major" : major,"preAwards" :preAwards,
														   "citizenship" : citizenship,"time" : time,"research" : research,"advisor" : advisor,
														   "budget" :budget,"url" : "www.test.com"});
			console.log(formdata);
			console.log("test2");
			response = $.ajax( { 
				url: "http://localhost:5000/post/grant/applicant",
				data: formdata,
				type: "PUT",
				dataType: 'json',
				cache: false,
				contentType: "application/json",
				complete: function (response) {
				console.log(response);
				console.log(response.responseText);
				console.log(response.responseText[3]);
				console.log("test3");
				window.location.href = 'http://localhost:5001/Applicants'
				


				}
			});
			event.preventDefault()
			});

		});


</script>
{% endblock %}





































