{% extends "bootstrap/base.html" %}
{% block title %}CSC 400 Project{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}


{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Connecticut Space Grant Consortium Admin Center</a>
    </div>
    <div class="navbar-collapse collapse">
        </div>
   <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="margin-bottom: 10px;">
      Grants <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/Grants">Add a Grant</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/EditGrant">Edit a Grant</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/student">View Student Grants</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/faculty">View Faculty Grants</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="margin-bottom: 10px;">
      Applications <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/Applicants">Add an Application</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/CurApplicants">View Current Application</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/EditApp">Edit an Application</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/DelAllApp">Delete all Applications</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="margin-bottom: 10px;">
      Evaluations <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/Evaluators">Add an Evaluation</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/EditEval">Edit an Evaluation</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/EvalLookUp">View an Evaluation</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <a class="btn btn-default"role ="button"href="All" style="margin-bottom: 10px;"> All Data in DB</a>
  </div>
</div>
</div>
{% endblock %}

{% block content %}
<div class="container"> 
  {% block page_content %}
  <H1>Welcome to the CTSGC Admin Center</H1>
</div>

{% endblock %}
{% endblock %}
{% block scripts %} {{ super() }} {{ moment.include_moment() }}

<hr>
<hr>

    <footer>
      <p></p>
    </footer>
  </div> 
{% endblock %}