{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<h1>Applications Submitted</h1>
      <div class="row">
        <div class="col-md-6">
          <table class="table table-bordered">
            <tbody>
              <tr>
				{% for post in posts.find({'Applicants':{'$exists': True }}) %}
				{% for i in range(posts.aggregate([{"$match":{"_id":post['_id']}},{'$unwind':"$Applicants"},{'$group':{'_id':"$_id", 'number':{'$sum':1}}}])['result'][0]['number']) %}
		  <table class="table table-bordered">
		 
    <tbody>
	
        <tr style="width:100%">
			<td class="title">Name</td>
            <td class="title">{{post['Applicants'][i-1]['Name']}}</td>
		</tr>
		<tr>
			<td class="value">Grant ID</td>
			<td class="value">{{post['_id']}}</td>
		</tr>
		<tr>
			<td class="value">School</td>
            <td class="value">{{post['Applicants'][i-1]['School']}}</td>
		</tr>
			<td class="value">URL</td>
			<td class="value">{{post['Applicants'][i-1]['URL']}}</td>
		<tr>
			<td class="value">Research</td>
			<td class="value">{{post['Applicants'][i-1]['Research']}}</td>
		</tr>
			<td class="value">Budget</td>
			<td class="value">{{post['Applicants'][i-1]['budget']}}</td>
		<tr>
			<td class="value">Applicant Id</td>
			<td class="value">{{post['Applicants'][i-1]['appId']}}</td>
		</tr>
			<td class="value">Citizenship</td>
			<td class="value">{{post['Applicants'][i-1]['citizenship']}}</td>
		<tr>
			<td class="value">Major</td>
			<td class="value">{{post['Applicants'][i-1]['Major']}}</td>
		</tr>
			<td class="value">Previous Awards</td>
			<td class="value">{{post['Applicants'][i-1]['preAwards']}}</td>
		<tr>
			<td class="value">Advisor</td>
			<td class="value">{{post['Applicants'][i-1]['Advisor']}}</td>
        </tr>

		
			</tbody>
			
		</table>
				{% endfor %}
				{% endfor %}
            </tbody>
          </table>
		  </div>
        </div>
{% endblock %}