{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}CSC 400{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>Edit</h2>
	
</div>
{{ wtf.quick_form(form) }}
<h2>Application to be deleted</h2>
{{ wtf.quick_form(form1) }}

{% endblock %}
