{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}CSC 400{% endblock %}

{% block page_content %}
<div class="page-header">
 
</div>
{{ wtf.quick_form(form) }}
          <table class="table table-bordered">
            <tbody>
              <tr>
				{% for post in posts.find({'_id' :grantId , "Applicants.appId" : appId}, { "Applicants.$.Evaluators" : 1 }) %}
				{% for i in range(post["Applicants"][0]["Evaluators"]|length) %}
		  <table class="table table-bordered">
		 
    <tbody>
	
        <tr style="width:100%">
			<td class="title">Grant ID</td>
            <td class="title">{{post['_id']}}</td>
		</tr>
		<tr>
			<td class="value">Applicants ID</td>
			<td class="value">{{post['Applicants'][0]["appId"]}}</td>
		</tr>
		<tr style="width:100%">
			<td class="title">Name</td>
            <td class="title">{{post['Applicants'][0]["Name"]}}</td>
		</tr>
		<tr>
			<td class="value">Abstract Score</td>
			<td class="value">{{post["Applicants"][0]["Evaluators"][i]['abstractScore']}}</td>
		</tr>
		<tr style="width:100%">
			<td class="title">Goals and Objectives Score</td>
            <td class="title">{{post["Applicants"][0]["Evaluators"][i]['goalsObjectivesScore']}}</td>
		</tr>
		<tr>
			<td class="value">Evaluators Number</td>
			<td class="value">{{post["Applicants"][0]["Evaluators"][i]['evalNum']}}</td>
		</tr>
		
			</tbody>
			
		</table>
				{% endfor %}
				{% endfor %}
            </tbody>
          </table>
{% endblock %}
