{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}CSC 400{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Evaluator</h1>
</div>

	{{ wtf.quick_form(form) }}


<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script>


$('form').on('submit',function() {

		var grantId = parseInt($("#grantId").val());
		var appId = $("#appId").val();
		var evalNum = parseInt($("#evalNum").val());
		var abstractScore = $("#abstractScore").val();
		var goalsObjectivesScore = $("#goalsObjectivesScore").val();
		
		var formdata = JSON.stringify({"grantId" :grantId,"appId" :appId ,"abstractScore" : abstractScore,
								  "goalsObjectivesScore" : goalsObjectivesScore,"evalNum" : evalNum});
		console.log(formdata);

		response = $.ajax( { 
			url: "http://localhost:5000/post/grant/applicant/eval",
			data: formdata,
			type: "PUT",
			crossDomain: "True",
			dataType: 'json',
			contentType: "application/json", 
				complete: function (response) {
				console.log(response);
				console.log(response.responseText);
				console.log(response.responseText[3]);
				console.log("test3");
				window.location.href = 'http://localhost:5001/Evaluators'


				}
		})
		return false;
	});
</script>
{% endblock %}
