{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}CSC 400{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Grant</h1>
</div>

	{{ wtf.quick_form(form) }}


<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script>
$('form').on('submit',function() {

		var grantId = parseInt($("#grantId").val());
		var type1 = $("#type1").val();
		var award = $("#award").val();
		var numAwards = parseInt($("#numAwards").val());
		var awardAmount = parseInt($("#awardAmount").val());
		var url = $("#url").val();

		dataform = JSON.stringify({"grantId" :grantId ,"type1" : type1,"award" : award,
								  "awardAmount" : awardAmount,"numAwards" :numAwards,"url" : url});
		console.log(dataform);
		
		getapp = $.ajax( { 
			url: "http://localhost:5000/post/grant",
			data: dataform,
			type: "POST",
			dataType: 'json',
			contentType: "application/json", 
			contentType: "application/json", 
				complete: function (response) {
				console.log(response);
				console.log(response.responseText);
				console.log(response.responseText[3]);
				console.log("test3");
				window.location.href = 'http://localhost:5001/Grants'
				


				}
		})
		return false;
	});
</script>
{% endblock %}
