<html>
  <head>
    <title>Space Grant Database</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <style>
      /* padding(space out) contents */
      body {
        padding-top: 20px;
        padding-bottom: 20px;
      }
	  /* Everything but the jumbotron gets side spacing for mobile first views 
      .header,
      .marketing,
      .footer {
        padding-left: 15px;
        padding-right: 15px;
      }checked*/

      /* header line(#e5e5e5)*/
      .header {
        border-bottom: 1px solid red;
      }

      /* space b/w header & header line*/
      .header h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 20px;
      }

      /* footer*/
      .footer {
        padding-top: 19px;
        border-top: 1px solid red;
		color: #999;
      }

      /* align to the right*/
      @media (min-width: 768px) {
        .container {
          max-width: 730px;
        }
      }

	  /*.container-narrow > hr {
        margin: 30px 0;
      }checked*/
    
      /* space b/w content $ footer line*/
      .marketing {
        margin: 40px 0;
      }
/*
      .marketing p + h4 {
        margin-top: 28px;
      }*/

      /* Responsive: Portrait tablets and up */
      @media screen and (min-width: 768px) {
        /* Remove the padding we set earlier */
/*        .header,
        .marketing,
        .footer {
          padding-left: 0;
          padding-right: 0;
        }*/
        /* Space b/w content & header line*/
        .header {
          margin-bottom: 30px;
        }
      }
    </style>
  </head>

  <body>
     <div class="container">
      <div class="header">
        <h3 class="text-muted">Space Grant Database</h3>
      </div>

      <!-- Display flashed messages -->
      {% with msgs = get_flashed_messages() %}
        {% if msgs %}
          {%- for msg in msgs %}
            <div class="alert alert-info">
              {{ msg }}
            </div>
          {% endfor -%}
        {% endif %}
      {% endwith %}
      
      {% block body %} {% endblock %}

      <div class="footer">
        <p>SCSU 2015</p>
      </div>
    </div> <!-- /container -->
  </body>
</html>