<!-- Extend layout -->
{% extends "layout.html" %}

{% block body %}
  <h1>Login</h1>
  <p>Username: <code>admin</code>, Password: <code>admin</code> to login</p>
  <p>Username: <code>faculty</code>, Password: <code>faculty</code> to login</p>

  <form action="" method="post">
    <dl>
      <dt>Username:
      <dd><input type="text" name="username" value="{{
          request.form.username }}">
      <dt>Password:
      <dd><input type="password" name="password">
    </dl>
    <p><input type="submit" value="Login">
  </form>
{% endblock %}