{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
      <div class="row">
        <div class="col-md-6">
          <table class="table table-bordered">
            <tbody>

				{% for post in posts.find({'Type' : 'student'}) %}
		  <table class="table table-bordered">
		 
    <tbody>
	
        <tr style="width:100%">
			<td class="title">Award</td>
            <td class="title">{{post['award']}}</td>
		</tr>
		<tr>
			<td class="title">Type</td>
            <td class="value">{{post['Type']}}</td>
		</tr>
		<tr>
			<td class="title">Grant ID</td>
			<td class="value">{{post['_id']}}</td>
        </tr>
		<tr>
			<td class="title">Number of Awards</td>
			<td class="value">{{post['numAwards']}}</td>
        </tr>
		<tr>
			<td class="title">URL</td>
			<td class="value">{{post['url']}}</td>
        </tr>
		<tr>
			<td class="title">Awards Amount</td>
			<td class="value">{{post['awardAmount']}}</td>
        </tr>

		
			</tbody>
			
		</table>
		{% endfor %}

            </tbody>
          </table>
		  </div>
        </div>
{% endblock %}