{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}CSC 400{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Test</h1>
	
</div>
{% endblock %}